.exercises-list-container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
}

.exercises-title {
    font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
  background: linear-gradient(90deg, #3498db, #1abc9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-exercises {
  font-size: 1.2rem;
  color: #666;
  margin-top: 1rem;
}

.loading {
  font-size: 1.2rem;
  color: #4a90e2;
  text-align: center;
  margin-top: 2rem;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.exercises-grid {
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
margin-top: 5vh;
justify-content: center;
}



.exercise-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 16px rgba(74, 144, 226, 0.3);
}

.exercise-title {
  margin: 0 0 0.5rem 0;
  font-size: 1.25rem;
  color: #333;
}

.exercise-description {
  font-size: 1rem;
  color: #555;
  white-space: pre-wrap; /* לשמור על שורות במידה ויש */
}
.topic-tab{
  padding: "8px 16px";
    font-size: 1.2rem;
    border: none;
    cursor: "pointer";
    border-radius: 30px;
    color: white;
}
.dropdown-select {
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.topic-tab {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.2s ease;
}

.topic-tab:hover {
  background-color: #ccc;
}

.topic-tab.active {
  color: white;
  font-weight: bold;
  border-bottom: 5px solid black;
}
.add-exercise-btn {
     background-color: #ffffff;
    color: #6756a0;
    direction: rtl;
    font-family: "Heebo";
    margin-right: 38vw;
    border: none;
    padding: 10px 18px;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(74, 144, 226, 0.4);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-exercise-btn:hover {
  background-color: #6756a0;     /* כחול כהה יותר בהובר */
  transform: scale(1.05);        /* מעט הגדלה בהובר */
}

.add-exercise-btn:active {
  background-color: #543da0;     /* כחול כהה בעת לחיצה */
  transform: scale(0.98);        /* הקטנה קלה בלחיצה */
  box-shadow: 0 1px 3px rgba(47, 94, 168, 0.5);
}
